doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="#{introduction}")
		title #{name} &mdash; #{introduction}
		link(rel="stylesheet" href="/css/styles.css")
		if title != undefined
			script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js")
body(id=(title ? title : undefined))
	!= yield
